{% extends 'base.html.twig' %}

{% block title %}Liste des Jeux
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<h1>Accueil liste des jeux...</h1>
			</div>


			 <div class="d-flex flex-row justify-content-center mt-3 ">             
            <div class="col-1 coltitre">#</div>
            <div class="col-1 coltitre">Picture</div>
            <div class="col-1 coltitre">Modele</div>
            <div class="col-1 coltitre">Catégorie</div>
            <div class="col-3 coltitre">Descriptif</div>
            <div class="col-1 coltitre">Age</div>
            <div class="col-1 coltitre">Disponiblité</div>         
        </div>   

		</div>
	</div>
{% endblock %}
