{% extends 'base.html.twig' %}

{% block title %}Edit Swap{% endblock %}

{% block body %}
    <h1>Edit Swap</h1>

    {{ include('swap/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_swap_index') }}">back to list</a>

    {{ include('swap/_delete_form.html.twig') }}
{% endblock %}
