{% extends 'base.html.twig' %}

{% block title %}Hello NewswapController!{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				Ajouter ce jeu à vos echanges...
			</div>
		</div>
	</div>
{% endblock %}
