{% extends 'base.html.twig' %}

{% block title %}Liste des discussions
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<h1>Liste des discussions...</h1>
			</div>
		</div>
	</div>
{% endblock %}
