{% extends 'base.html.twig' %}

{% block title %}Liste des discussions
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="fs-2 text-center m-3">
				Liste des discussions...
			</div>
		</div>
	</div>	

{% endblock %}
