{% extends 'base.html.twig' %}

{% block title %}Présentation
{% endblock %}

{% block body %}

<div class="container">
		<div class="row justify-content-center">
			<div class="fs-3 col-8 text-center m-3">
				Bienvenue Voyageur !
			</div>

			<div class="fs-5 col-10 text-center m-3">
				Tu viens d’entrer dans l’univers mystérieux de l’Insoluble. En franchissant ces portes, tu vas découvrir le monde fascinant des Casse-Têtes d’exception. Des simples jeux de logique, aux plus diaboliques boites à mystère, c’est tout un univers merveilleux qui s’offre à toi. Profites-en, tu l’as bien mérité après un tel voyage.
			</div>
		</div>
	</div>
{% endblock %}
