{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6 fs-2 text-center">
				Profil Utilisateur...
			</div>
		</div>
	</div>
{% endblock %}
