{% extends 'base.html.twig' %}

{% block title %}Hello EtatsController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="fs-2 col-6 text-center m-3">
				Liste des Etats des Produits...
			</div>
		</div>
	</div>
{% endblock %}
