

{{ form_start(form) }}
<div class="d-inline-flex">
	{{ form_widget(form) }}
	<button class="btn"><img class="" src="{{asset('assets/img/search-logo.jpg') }}" alt="recherche"></button>
</div>
{{ form_end(form) }}
