{% extends 'base.html.twig' %}

{% block title %}Proposition d'échange...
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="fs-2 col-6 text-center m-3">
				Proposition d'Echange...
			</div>
			<div class="fs-5 col-6 text-center m-3">
				{% if sent == 1 %}
					Votre proposition d'échange a bien été envoyée. Vous recevrez bientôt une réponse dans votre boîte mail...
				{% endif %}

				{% if sent == 2 %}
					Votre proposition d'échange n'a pas été envoyée. Essayez à nouveau...
				{% endif %}

				{% if sent == 3 %}
					Vous avez accepté la proposition d'échange. Vous recevrez bientôt sa confirmation dans votre boîte mail...
				{% endif %}

				{% if sent == 4 %}
					Vous avez refusé la proposition d'échange et votre interlocuteur a été informé de votre décision...
				{% endif %}	
				
				{% if sent == 5 %}
					L'échange de vos jeux a été définitivement validé...
				{% endif %}					
				
			</div>
		</div>
	</div>
{% endblock %}
