{% extends 'base.html.twig' %}

{% block title %}Edit Games
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="fs-2 col-6 text-center m-3">
				Gestion de la Mise à Jour d'un Produit...
			</div>
			<div class="fs-2 col-6 text-center m-3">
				{{ include('games/_form_maj.html.twig', {'button_label': 'ENREGISTRER'}) }}
				{{ include('games/_delete_form.html.twig') }}
			</div>
		</div>

		<div class="fs-6 text-center m-3">
			<a href="{{ path('app_home') }}">Retour à la Liste des Jeux</a>
		</div>
{% endblock %}
