{% extends 'base.html.twig' %}

{% block title %}New Games
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row justify-content-center">
			<div class="fs-2 col-6 text-center m-3">
				Saisie d'un Nouveau Jeu...
			</div>

			<div class="fs-2 col-6 text-center m-3">
				{{ include('games/_form.html.twig') }}
			</div>
		</div>


		<div class="fs-6 text-center m-3">
			<a href="{{ path('app_home') }}">Retour à la Liste des Jeux</a>
		</div>
	</div>

{% endblock %}
