{% extends 'base.html.twig' %}

{% block title %}Liste des jeux par catégorie{% endblock %}

{% block body %}
<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<h1>Liste des jeux par catégorie...</h1>
			</div>
		</div>
	</div>
{% endblock %}
