{% extends 'base.html.twig' %}

{% block title %}Hello NewgameController!{% endblock %}

{% block body %}
<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">
				<h1>Ajouter un nouveau jeu à vos echanges...</h1>
			</div>
		</div>
	</div>
{% endblock %}
